.nav{
    background: white;
}
.navbar img{
    width: 25px;
    background: white;
    color: black;
    margin-right: 10px;
}
.mr-auto a {
    color: black;
    font-weight: bold;
}
#logo img{
    width: 40px;
}
#toggle{
    background: transparent;
   border-color: transparent;
   margin-left: -10px;
}

.justify-content-center a{
    color: black;
    font-weight: bold;
}
.tech{
 color: rgb(201, 201, 201);
}
