.navbar img{
    width: 25px;
    background: white;
    color: black;
    margin-right: 10px;
}

#logo img{
    width: 40px;
}
#toggle{
    background: transparent;
   border-color: transparent;
   margin-left: -10px;
}

.quick-links .container{
   float: right;
    display: flex;
}
.justify-content-center a{
    color: black;
}

